- content_for(:title, "Sign in")

%h1= t(:header_login)
= form_for(:session, url: sessions_path) do |f|
	.row
		.col-sm-2.form_label= f.label t(:email)
		.col-sm-2= f.text_field :email
		.col-sm-8
	.row	
		.col-sm-2.form_label= f.label t(:password)
		.col-sm-2= f.password_field :password
		.col-sm-8
	.row	
		.col-sm-2= f.submit t(:header_login), class: "btn btn-large btn-primary"
		.col-sm-10

%p.sign_up_link
	= t(:new_user_login)

= link_to t(:new_user_signup), signup_path, class: "sign_up_link"