.container.footer
	%h3.footer_title= t(:footer_title)
	.footer_contacts
		%p= t(:footer_contact) 				
		%p= t(:footer_number)
		%p= t(:footer_mail)
		%p= t(:footer_address)
	%h4.footer_copyright © Сopyright 2023